.nav-bar {
    height: 70px;
    background-color: #12A5ED;
}

.nav-bar-text {
    font-size: 40px;
    display: inline-block;
    justify-content: space-between;
    color: white;
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-bar-logout {
    font-size: 20px;
    color: white;
    justify-content: space-between;
    background: #0A3758;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    height: 30px;
    transition-duration: 0.5s;
    font-family: Helvetica, Arial, sans-serif;
}

.nav-bar-logout:hover {
    background: rgb(43, 91, 126);
    transition-duration: 0.5s;
}

.page-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}